﻿@model PlacesViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        
        @if (@Model.Places.Count > 0)
        {
            <h3>Все заведения</h3>
            foreach (var place in @Model.Places)
            {
                <div class="place_style">
                    <a asp-action="PlaceDetails" asp-controller="Place" asp-route-placeId ="@place.Id">
                        <img style="width: 100%; margin-bottom: 5px;" src="@place.MainPhotoPath"/>
                        <span>@place.Name</span>
                    </a>
                    <p>
                        ( @if (@place.Reviews.Count > 0)
                            {
                                @place.Reviews.Average(x => x.Rate)
                            }
                          else
                          {
                            <span>0</span>
                          }
                        | @place.Reviews.Count отзывов )
                    </p>
                    <p>@place.Photos.Count фото</p>
                </div>
            }
        }
        else
        {
            <h3 class="text-center">Еще не добавлено ни одного заведения</h3>
        }
    </div>
</div>
<style>
    .place_style {
        width: 300px;
        padding: 10px;
        margin: 7px;
        float: left;
        border: 1px solid silver;
        border-radius: 5px;
    }
</style>
