﻿@model Cw.Models.PlacesViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2 class="text-center">Добавить заведение</h2>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div style="padding: 10px; margin-top: 10px; border: 1px solid silver; border-radius: 5px;">
            <form asp-action="AddPlace" asp-controller="Place" method="post" enctype="multipart/form-data">
                <p>Название заведения</p>
                <input type="text" asp-for="Name" class="form-control"/>
                <p>Описание заведения </p>
                <textarea asp-for="Description" class="form-control" rows="5" style="width: 100%; resize: none;"></textarea>
                <input type="file" class="form-group" asp-for="Photo" style="border: none; margin-top: 10px;"/>
                <button type="submit" class="btn btn-default center-block">Создать</button>
            </form>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
