﻿@model System.Collections.Generic.List<Cw.Models.Place>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Результаты поиска</h2>
<div class="row">
    <div class="col-md-12">
        @if (@Model.Count == 0)
        {
            <h2 class="text-center">По заданному имени нет заведений</h2>
        }
        else
        {
            foreach (var place in @Model)
            {
                <div class="place_style">
                    <a asp-action="PlaceDetails" asp-controller="Place" asp-route-placeId ="@place.Id">
                        <img style="width: 100%; margin-bottom: 5px;" src="@place.MainPhotoPath"/>
                        <span>@place.Name</span>
                    </a>
                    <p>
                        ( @if (@place.Reviews.Count > 0)
                          {
                              @place.Reviews.Average(x => x.Rate)
                          }
                          else
                          {
                              <span>0</span>
                          }
                        | @place.Reviews.Count отзывов )
                    </p>
                    <p>@place.Photos.Count фото</p>
                </div>
            }
        }
    </div>
</div>
<style>
    .place_style {
        width: 300px;
        padding: 10px;
        margin: 7px;
        float: left;
        border: 1px solid silver;
        border-radius: 5px;
    }
</style>
