﻿@model Place
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "PlaceDetails";
}


<div class="row" style="margin-top: 10px;">
    <div class="col-md-7">
        <h3>@Model.Name</h3>
        <div>@Model.Description</div>
    </div>
    <div class="col-md-5">
        <img src="@Model.MainPhotoPath" style="width: 98%;" />
    </div>
    <div class="col-md-12" style="border-bottom: 1px solid black; margin-bottom: 10px;">
        @if (@Model.Photos.Count > 0)
        {
            foreach (var photo in @Model.Photos)
            {
                <p style="width: 180px; float: left; padding: 5px; margin: 10px;">
                    <img style="width: 100%;" src="@photo.FilePath" />
                </p>
            }
        }
        else
        {
            <p>Дополнительные фотографии не загружены</p>
        }
    </div>
    <div class="col-md-12" style="border-bottom: 1px solid black; margin-bottom: 10px;">
        Рейтинг заведения
        @if (@Model.Reviews.Count > 0)
        {
            @Model.Reviews.Average(x => x.Rate)
        }
        else
        {
            <span>0</span>
        }
    </div>
    <div class="col-md-12">
        <h3>Отзывы</h3>
        @if (@Model.Reviews.Count > 0)
        {
            foreach (var review in @Model.Reviews)
            {
                <div style="padding: 10px; border: 1px solid silver; margin: 7px;">
                    <div>@review.ReviewDate.ToShortDateString() <b>@review.UserName</b> написал:</div>
                    <div>@review.Review</div>
                    <div>Оценка: @Math.Round(@review.Rate, 2)</div>
                </div>
            }
        }
        else
        {
            <p>Отзывов еще не было</p>
        }
        @if (SignInManager.IsSignedIn(User))
        {
            <div style="margin-top: 5px; border-top: 1px solid silver;">
                <form method="post" asp-action="AddReview" asp-controller="Review">
                    <h3>Добавить отзыв</h3>
                    <textarea name="Review" class="form-control" rows="5" style="width: 90%; resize: none;" placeholder="Текст вашего отзыва"></textarea>
                    <label for="rate">
                        <select class="form-control" name="Rate" id="rate">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </label>
                    <input type="hidden" value="@Model.Id" name="PlaceId" />
                    <input type="hidden" name="UserId" value="@UserManager.GetUserAsync(User).Result.Id" />
                    <button type="submit" class="btn btn-default">Отправить</button>
                </form>
            </div>
            <div style="margin-top: 15px;">
                <form method="post" asp-action="UploadPlacePhoto" asp-controller="Review" enctype="multipart/form-data">
                    <p>Загрузите фото данного места</p>
                    <input type="file" class="form-control" name="Photo">
                    <input type="hidden" value="@Model.Id" name="PlaceId" />
                    <input type="hidden" name="UserId" value="@UserManager.GetUserAsync(User).Result.Id" />
                    <button type="submit" class="btn btn-default">Отправить</button>
                </form>
            </div>
        }
        else
        {
            <p>Добавлять отзывы и фото могут только авторизованные пользователи</p>
        }
    </div>
</div>



